{% extends '_layouts/landpage.html.twig' %}

{% block content %}
    <div class="wrapper">
        <section class="container">
            <header class="welcome">
                <h1>Welcome</h1>
            </header>
            
            <div>
                <p>Test</p>
            </div>
        </section>
    </div>
{% endblock %}
