{% extends '_layouts/landpage.html.twig' %}

{% block content %}
    <div class="wrapper">
        <section class="container">
            <header class="welcome">
                <h1>Welcome to admin homepage</h1>
            </header>
        </section>
    </div>
{% endblock %}
